*{
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: rgb(31, 31, 33);
  
}
.head2{
    background-color: rgb(31, 31, 33);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 105px;
    position:fixed;
    width: 100%;
}

.yaki1{
    list-style: none;
    display: flex;
    gap: 600px;
    padding-top: 10px;
   
}
.profile{
    display: flex;
    justify-content: end;
    gap: 15px;
}
.marketing-1{
    width: 100%;
    gap: 10px;
}
.marketing-1{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}
#white-bold{
    color: white;
    font-size: 3rem;
    margin-bottom: 0px;
}
#white-small{
    color: white;
    margin-top: 0px;
    font-size: large;
    margin-bottom: 0px;
    font-weight: bolder;
}
#white-slim{
    color: grey;
    font-size: medium;
    font-weight: bolder;
}
.marketing-img{
    width: 50%;
    height: 400px;
}
#join-faltu-group{
    background-color: rgb(227 252 2);
    width: 50%;
    height: 50px;
    border: none;
    font-size: medium;
}

.sub-text1{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 20px;
}
#btn{
    border: 1px solid #bd9400;
    width: 20%;
    height: 60px;
    padding-bottom: 10px;
    align-items: center;
    font-size: medium;
    background-color: black;
    color: white;
    height: 90px;
    text-align: center;
    
}
#heading{
    background-color: black;
    
}
.faltu-product{
    border: #bd9400 1px solid;
    width: 400px; 
    
    color: white;
    justify-content: center;
    text-align: center;
    }
.faltu-product1{
    
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.faltu-strag{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}
.faltu-strag1{
    padding-top: 100px;
    width: 40%;
    justify-content: flex-start;
    align-self: center;
    height: 450px;
}
.faltu-image{
    
}
#faltu-para{
    color: grey;
    margin-bottom: 0px;
}
#faltu-head1{
    margin-top: 0px;
    color: white;
    font-size: 50px;
}
#faltu-para1{
    color: grey;
    font-size: larger;
}
.faltu-elite{
    
    justify-content: center;
    display: flex;
    width: 100%;
   padding-top: 100px;
   
    
}
.eidc{
    border: #bd9400 1px solid;
    display: flex;
    gap: 200px;
    padding: 50px;
}
#pas{
    padding-left: 50px;
}
#pas1{

    text-align: center;
}
.faltu-elite-paras{
    color: white;
    margin-top: 0px;
    font-size: 19px;
}
.details{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.faltu-details{
    color: white;
    width: 30%;
    text-align: center;
    
}
#grey{
    font-size: small;
    color: grey;
    margin-bottom: 0px;
}
#grey-haed{
    margin-top: 0px;
    font-size: 40px;
}
.details1{
    border: grey 1px solid;
    margin: 10px;
    padding: 10px;
    
}
.para6{
    color: grey;
}
.sub{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.faltu-sub{
  width: 50%;
  text-align: center;
}
#faltuhead{
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}
#faltupara{
    color: grey;
    margin-top: 0px;
    
}
#faltusearch{
    width:350px ;
}